---
layout: default
permalink: /projects/all
---
<section>
  <div class="card-container">

    {% for proj in site.data.projects %}
      <article class="card">
        <a href=" {{ proj.link }}" target="_parent" rel="noopener noreferrer">
          <h2>{{ proj.name }}</h2>
          <p>{{ proj.description }}</p>
        </a>
        <div class="tag-list">
          {% for tag in proj.tags %}
            <span class="tag"> {{ tag }}</span>
          {% endfor %}
        </div>
      </article>
    {% endfor %}
  
  </div>
</section>

