@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

body {
    font-family: 'Nunito Sans', sans-serif;
    margin-left: 500px;
    margin-top: 100px;
    width: 40%;
    transition: background-color 0.3s, color 0.3s;
}

.title {
    font-size: 2em;
    font-weight: bold;
}

.tabs-menu {
    text-align: end;
}

/* wont be needing this for now
.dark-mode {
    background-color: #333;
    color: white;
} */

.align-end {
    text-align: end;
}
