@import "colors";

.card {
    transition: background-color 0.2s;
    cursor: pointer;
    border-radius: 16px;
    padding: 8px;
}

.card:hover {
    color: $txt-hover-color;
}

.card a {
  text-decoration: none;
}

.card:hover {
    background-color: $bg-hover-card-sea;
    transition: background-color 0.2s;
}

.tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}

.tag {
    background: #e3e8ee;        /* Soft color */
    color: #2366d1;             /* Accent text */
    border-radius: 12px;
    padding: 3px 12px;
    font-size: 0.6em;
    border: 1px solid #b7c3d2;
    letter-spacing: .05em;
    margin: 2px 0;
    transition: background 0.2s;
}

.tag:hover {
    background: #d3e2f0;
}