@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@media (min-width: 768px) {
    body {
        width: 40%;
        margin: 0 auto;
    }
}

body {
    font-family: 'Nunito Sans', sans-serif;
    
    /* preciso consertar essa gambiarra pra ficar bom no celular tb */
    margin-top: 3%;

    /* dark mode as default */
    background-color: #333;
    color: white;

    font-size: 1.1em;
}

h1 {
    font-size: 2em;
    font-weight: bold;
}

.tabs-menu {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 10px;
}

a {
    color: inherit;
    text-decoration: underline;
}
  
a:visited {
    color: inherit;
}

/* a that is a direct child of h1 */
h1 > a {
    text-decoration: none;
}

em {
    font-weight: bold;
    font-style: normal;
}

.curr-page {
    text-decoration: none;
    opacity: 70%;
    pointer-events: none;
}

footer {
    font-size: small;
}

.div-bar {
    margin: 20px 0;
}

.link {
    opacity: 80%;
}
